# Copy this to .env and fill in your values
# Never commit .env to git

SHOPIFY_WEBHOOK_SECRET=c1a31b0d757e59b0c4f35efc8f7346f81b4c993a0775cc7f2ec552ca15fa4b06
WATI_API_ENDPOINT=https://live-mt-server.wati.io/389149
WATI_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImhheXRoYW0uc2FtaXJAaWNsb3VkLmNvbSIsIm5hbWVpZCI6ImhheXRoYW0uc2FtaXJAaWNsb3VkLmNvbSIsImVtYWlsIjoiaGF5dGhhbS5zYW1pckBpY2xvdWQuY29tIiwiYXV0aF90aW1lIjoiMDUvMTAvMjAyNiAxOToyMjozOSIsInRlbmFudF9pZCI6IjM4OTE0OSIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.UZiExyQZrbIXDJXSDJmMf1QcflQ2YBSPOsYkfvTqCNY
WATI_TEMPLATE_NAME=deliver_msg
PORT=3000
